//Vars
$maxWidthPercent: 100%;
$chatReductionPx: 69px;

//Color vars
$whatsAppBackground: #005e54;


/* Chat */
.chat {
  height: calc($maxWidthPercent - $chatReductionPx);
}

.chat-container {
  height: $maxWidthPercent;
}


/* Conversation */
.conversation {
  height: calc($maxWidthPercent - 12px);
  position: relative;
  background: #efe7dd url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg") repeat;
  z-index: 0;
  ::-webkit-scrollbar {
    transition: all .5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  };
}


