// Conversation

.conversation-container {
  $maxWidth: 100%;
  $chatReduction: 69px;
  height: calc( $maxWidth - $chatReduction );
  box-shadow: inset 0 10px 10px -10px #000000;
  overflow-x: hidden;
  padding: 0 16px;
  margin-bottom: 5px;
}

/* Messages */

.message {
  $messageSentBackground: #e1ffc7;
  $messageReceivedBackground: #fff;
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: -1;
  &.sent {
    background: $messageSentBackground;
    border-radius: 5px 0px 5px 5px;
    float: right;
  };
  &.received {
    background: $messageReceivedBackground;
    border-radius: 0px 5px 5px 5px;
    float: left;
  }
}
