<div class="user-bar">
  <div class="avatar">
    <img [src]="_chatService.user.photo" alt="Avatar">
  </div>
</div>
<div class="user-list-container">
<div class="userlist" id="userlist">
<ul>
<li *ngFor="let user of users">
  <div *ngIf="user.uid !== _chatService.user.uid" class="user-item">
    <a (click)="loadChat(user)">
      <div class="avatar">
        <img [src]="user.photo" alt="Avatar">
      </div>
      <div class="name">
        <span>{{ user.name }}</span>
      </div>
    </a>
  </div>
</li>
</ul>
</div>
</div>
