<div class="user-bar">
  <div class="avatar">
    <img src="https://avatars2.githubusercontent.com/u/398893?s=128" alt="Avatar">
  </div>
</div>
<div class="userlist" id="userlist">
<ul>
<li>
  <div class="user-item">
    <a href="#">
      <div class="avatar">
        <img src="https://avatars2.githubusercontent.com/u/398893?s=128" alt="Avatar">
      </div>
      <div class="name">
        <span>Joel Ramirez</span>
      </div>
    </a>
  </div>
</li>
<li>
  <div class="user-item">
    <a href="#">
      <div class="avatar">
        <img src="https://avatars2.githubusercontent.com/u/398893?s=128" alt="Avatar">
      </div>
      <div class="name">
        <span>Marcos Rangel</span>
      </div>
    </a>
  </div>
</li>
<li>
  <div class="user-item">
    <a href="#">
      <div class="avatar">
        <img src="https://avatars2.githubusercontent.com/u/398893?s=128" alt="Avatar">
      </div>
      <div class="name">
        <span>Jose García</span>
      </div>
    </a>
  </div>
</li>
</ul>
</div>
