/* Small Screens */

@media (max-width: 1720px) {
  .conversation {
    height: calc(100vh - 55px);
    .conversation-container {
      height: calc(100vh - 120px);
    }
  }
}

.pointer {
  cursor: pointer;
}
